Repository KonduitAI/konduit-serving, pull requests merged in 2020-04, with the labels that each got.

#268 Add ADRs for CLI and Client REST APIs
  ADRs/0001-Extend_vertx_launcher_for_CLI.md
  ADRs/0002-Use_swagger_annotations_for_generating_client_APIs.md
Labels: ADR

#263 Eliminating the use of --config with every konduit-serving python cli command
  build_jar.py
  konduit-serving-core/src/main/java/ai/konduit/serving/configprovider/KonduitServingMain.java
  python/cli.py
  python/docs/konduit_cli.md
  python/konduit/base_inference.py
Labels: CLI

#288 Change classification metrics to reset upon export
  konduit-serving-api/src/main/java/ai/konduit/serving/config/metrics/impl/MultiLabelMetricsConfig.java
  konduit-serving-api/src/main/java/ai/konduit/serving/metrics/MetricType.java
  konduit-serving-codegen/src/main/java/ai/konduit/serving/codegen/pythoncodegen/CodeGen.java
  konduit-serving-core/src/main/java/ai/konduit/serving/configprovider/PipelineRouteDefiner.java
  konduit-serving-core/src/main/java/ai/konduit/serving/metrics/ClassificationMetrics.java
  konduit-serving-core/src/main/java/ai/konduit/serving/metrics/MultiLabelMetrics.java
  konduit-serving-core/src/main/java/ai/konduit/serving/metrics/RegressionMetrics.java
  konduit-serving-test/src/test/java/ai/konduit/serving/config/ConfigJsonCoverageTrackingTests.java
  konduit-serving-test/src/test/java/ai/konduit/serving/metrics/ClassificationMetricsTests.java
  konduit-serving-test/src/test/java/ai/konduit/serving/metrics/MultiLabelClassificationMetricsTests.java
  konduit-serving-test/src/test/java/ai/konduit/serving/metrics/RegressionMetricsTest.java
Labels: enhancement

#270 WordPiece Tokenizer Preprocessing Step
  konduit-serving-api/src/main/java/ai/konduit/serving/pipeline/BasePipelineStep.java
  konduit-serving-api/src/main/java/ai/konduit/serving/pipeline/PipelineStep.java
  konduit-serving-api/src/main/java/ai/konduit/serving/pipeline/step/WordPieceTokenizerStep.java
  konduit-serving-api/src/test/java/ai/konduit/serving/pipeline/WordPieceTokenizerStepSerializationTests.java
  konduit-serving-codegen/src/main/java/ai/konduit/serving/codegen/pythoncodegen/CodeGen.java
  konduit-serving-core/pom.xml
  konduit-serving-core/src/main/java/ai/konduit/serving/configprovider/PipelineRouteDefiner.java
  konduit-serving-core/src/main/java/ai/konduit/serving/executioner/PipelineExecutioner.java
  konduit-serving-core/src/main/java/ai/konduit/serving/pipeline/handlers/converter/JsonArrayMapConverter.java
  konduit-serving-core/src/main/java/ai/konduit/serving/pipeline/steps/WordPieceTokenizerStepRunner.java
  konduit-serving-test/src/test/java/ai/konduit/serving/config/ConfigJsonCoverageTrackingTests.java
  konduit-serving-test/src/test/java/ai/konduit/serving/pipeline/steps/StepConfigClassTester.java
  konduit-serving-test/src/test/java/ai/konduit/serving/pipeline/steps/WordPieceTokenizerStepTest.java
  konduit-serving-test/src/test/resources/vocab/bert-base-uncased-vocab.txt
  python/konduit/base_inference.py
  python/konduit/load.py
  python/tests/test_wordpiece_tokenizer.py
  python/tests/yaml/konduit_wordpiece_tokenizer_minimal.yaml
  python/tests/yaml/konduit_wordpiece_tokenizer_two_steps.yaml
Labels: enhancement
